body {
    margin: 0;
    padding: 0;
    background-image: url('fondo-vehiculos/fondo-vehiculos.png');
    background-size: cover;        /* La imagen se expande para cubrir toda la pantalla */
    background-position: center;   /* Centra la imagen */
    background-repeat: no-repeat;  /* Evita que se repita */
    height: 100vh;
}

.navegacion{
 background: #0ff;  
  color: #000; 
  font-family: 'Orbitron', sans-serif;  
  font-size: 16px;
  font-weight: bold;
  padding: 12px 24px;
  border: 2px solid #00e6e6;  
  border-radius: 8px;  
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: 2px;
  transition: all 0.3s ease;
 
  box-shadow: 0 0 10px #00e6e6, 0 0 20px #00e6e6, 0 0 40px #00e6e6;
}

.navegacion:hover{
      background: #00cccc; 
  color: #111;
  box-shadow: 0 0 20px #00ffff, 0 0 40px #00ffff, 0 0 60px #00ffff;
  transform: scale(1.05);  
}
.navegacion:hover{
       transform: scale(0.95);  
  box-shadow: 0 0 5px #00cccc, 0 0 15px #00cccc;
}